header {
  background: $dark-grey;

  .navbar {
    .navbar-list {
      display: flex;
      justify-content: space-between;

      .navbar-list-el {
        position: relative;
        display: flex;
        align-items: center;

        a {
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          font-size: 11px;
          color: $white;

          .material-icons {
            font-size: 15px;
          }

          &:hover {
            color: $active-menu;
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 7px;
              bottom: 0;
              left: 0;
              background-color: $active-menu;
            }
          }
        }

        .search-icon {
          transform: scaleX(-1);
        }

        &.--active {
          ::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 7px;
            bottom: 0;
            left: 0;
            background-color: $active-menu;
          }
        }
      }
      .title {
        font-size: 30px;
        padding: 40px;
        margin: 0 20px;
      }
    }
  }

  .menu-mobile {
    display: none;
    z-index: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    border: 1px solid grey;
    width: 50px;
    height: 50px;
    background: grey;
    bottom: 0;
    right: 0;
    cursor: pointer;
    margin: 30px;

    &:hover{
      background: grey;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    &:hover .menu-mobile-line{
      background: $black;
    }

    .menu-mobile-line {
      display: block;
      width: 30px;
      height: 4px;
      background: $white;
    }

    .menu-mobile-line:nth-child(1) {
      left: 5px;
      top: 5px;
      margin-bottom: 5px;
    }
    .menu-mobile-line:nth-child(2) {
      left: 5px;
      top: 10px;
      margin-bottom: 5px;
    }
    .menu-mobile-line:nth-child(3) {
      left: 5px;
      top: 15px;
    }
  }

  @media (max-width: $md) {
    .navbar {
      .navbar-list {
        .navbar-list-el {
          display: none;
        }
        .title{
          display: block;
          margin: 0 auto;
          padding: 20px;
        }
      }
    }
    .menu-mobile {
      display: flex;
    }
  }
}
