.projects {
  display: flex;
  flex-direction: row;

  .projects-leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    width: calc(100% - 40px);

    .adhara-img {
      width: 100%;
      max-width: 200px;
      height: auto;
      display: block;
    }

    .adhara-apps {
      display: flex;
      flex-direction: column;
      font-family: "Lato", sans-serif;
      color: #1e1e1e;

      h2 {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
      }

      .separator {
        display: block;
        width: 40px;
        height: 1px;
        background: #1e1e1e;
        margin: 30px auto;
      }

      .agency-descr {
        font-family: "Lato", sans-serif;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
      }

      p {
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: italic;
        font-size: 14px;
        text-align: center;
        margin-top: 40px;
        max-width: 400px;
        text-align: center;
      }
    }
  }

  .projects-rightside {
    width: 50%;

    .img-group {
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        max-width: 600px;
        height: auto;
      }

      .first-row {
        display: flex;
        flex-direction: row;
      }
      .second-row {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

@media (max-width: $md) {
  .projects {
    flex-direction: column;

    .projects-leftside {
      width: 100%;
      padding: 50px 0;
      margin: 0 auto;

    }
    .projects-rightside {
      width: 100%;
    }
  }
}
